<%= turbo_frame_tag "numbers_result" do %>
  <div class="mt-6 p-4 border rounded bg-green-50 shadow">
    <h2 class="text-xl font-bold mb-2">📘 Did you know?</h2>

    <% if defined?(warning) && warning.present? %>
      <div class="mb-4 p-2 bg-yellow-100 border-l-4 border-yellow-400 text-yellow-800 rounded">
        <%= warning.html_safe %>
      </div>
    <% end %>


    <p class="text-lg"><%= fact %></p>
  </div>
<% end %>
