

<div class="container card-white">
  <h1>Hello and welcome to APIpalooza!</h1>
  <p>
  
  I've created this page to play around with APIs and improve my skills. There is no particular objective or theme, so it may all feel a little random.
  <br>
  <br>
  In each page I explain in few words what I wanted to achive with that particular experiment and link for the official API doc.
  If you find any bugs or just want to contact me about this web app, please reach me through <a href="https://github.com/vkaraujo">https://github.com/vkaraujo</a>
  
  </p>
</div>