<div class="container card-white">
  
  <div class="text-center">
    <%= image_tag "trellologo.png", class: "logo"%>
    <%= image_tag "zapierlogo.png", class: "logo"%>
    <%= image_tag "tyformlogo.png", class: "logo"%>
    <br>
    <br>
    <h1>Zapier</h1>
    <br>
  </div>
  
  <p class="border border-primary p-3">
    Zapier provides workflows to automate the use of different web applications together.
    <br>
    <br>
    Here I used it to connect a Typeform I created to a Trello board. Every time the form is filled, the information goes directly to the Trello "inbox" list of that board.
    The board is public, so please, try it out.
  </p>
</div>


<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://vkaraujo00.typeform.com/to/km4XzSEF" frameborder="0"></iframe>
</div>

<div class="m-5">
  <a href="https://trello.com/b/sBsoS9wT/apipalooza-autofill-with-typeform" class="btn btn-success" target="_blank">Check your answer in this Trello Board</a>
</div>
  
